@charset "UTF-8";


#wrap {
 	width: 1920px;
	margin: 0px auto;

}

#content {
	width: 1440px;
	height: 1800px;
	margin:0px auto;
	position: relative;
}

.content-head{
	
  width: 1440px;
  height: 200px;
  background: rgba(255,255,255,1);

}
.carpool-MainText1 {
  width: 700px;
  color: rgba(30,30,30,1);
  top: 303px;
  left: 251px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 32px;
  text-align: left;
  float: left;
  padding: 100px 0px 0px 10px;
  
}

.carpool-MainText2 {
  width: 500px;
  color: rgba(30,30,30,1);
  top: 303px;
  left: 975px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  text-align: left;
  float: right;
  padding: 100px 50px 0px 0px;
  margin: 0px 210px 0px 0px;
}

.searchForm{
	
  	width: 1440px;
  	height:200px;  	
	border-collapse: collapse;
	position: absolute;
	/*top:230px;*/

}

.carpoolInput1{
	position: relative;
	
}

.input1{
	width: 345px;
    height: 55px;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 30px;
    left: 10px;
    border: 1px solid rgba(217,217,217,1);
    font-family: Noto Sans;
 	font-weight: Regular;
  	font-size: 20px;
  	text-align: left;
  	padding: 0px 0px 0px 20px;
  	cursor : pointer;
}

.carpoolInput1Picto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	position: absolute;
	top:50px;
	left:300px;
	cursor : pointer;
}

.input2 {
  width: 345px;
  height: 55px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 361px;
  border: 1px solid rgba(217,217,217,1);
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.input3 {
  width: 315px;
  height: 55px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 711px;
  border: 1px solid rgba(217,217,217,1);
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.input4 {
  width: 185px;
  height: 55px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 1031px;
  border: 1px solid rgba(217,217,217,1);
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.carpoolInput4Picto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	position: absolute;
	top:50px;
	left:1160px;
	cursor : pointer;
}

.input5 {
  width: 345px;
  height: 55px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 10px;
  border: 1px solid rgba(217,217,217,1);
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.carpoolInput5Picto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	position: absolute;
	top:110px;
	left:300px;
	cursor : pointer;
}

.input6 {
  width: 345px;
  height: 55px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 361px;
  border: 1px solid rgba(217,217,217,1);
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.carpoolInput6Picto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	position: absolute;
	top:110px;
	left:650px;
	cursor : pointer;
}

.search {
  width: 201px;
  height: 55px;
  background: rgba(73,85,159,1);
  position: absolute;
  top: 30px;
  left: 1235px;
  color: rgba(255,255,255,1);
  font-family: Noto Sans;
  font-weight: SemiBold;
  font-size: 20px;
  text-align: center;
  padding: 0px 0px 0px 30px;
  border: none;
}

.carpoolSearchPicto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	float:right;
}

.detail{
  width: 727px;
  height:55px;
  color: rgba(72,72,72,1);
  position:absolute;
  top: 90px;
  left: 711px;
  font-family: Noto Sans;
  font-weight: Medium;
  font-size: 16px;
  text-align: left;
  border:1px solid #bfbfbf;  
  padding:15px 0px 0px 0px;
}

.detailtext{
	padding: 0px 20px 0px 20px;

}

.carpoolDetailPicto:after {
	content: "pic";
	background-color : black;
	margin : 0px 25px 0px 5px;
	float:right;
	position: absolute;
	top:17px;
	left:675px;
}

/***********************************************************************************************************************/
    
/****** 카풀 리스트 ******/

.carList{
	width:100%;
	height:50px;
	position: absolute;
	top:435px;	
}

.listText {
  width: 250px;
  color: rgba(91,91,91,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 24px;
  text-align: left;
}

/******  table ******/

.list{
	width:100%;
	height:1000px;
	position: absolute;
	top:500px;
}

.list table {
    width: 1440px;
	border-collapse: collapse;
	position: absolute;
    font-family: Noto Sans;
    font-weight: Semibold; 
    font-size: 16px;
    text-align: center;
	
}


.list table>thead>tr {
    border-top: 2px solid rgba(73,85,159,1); 
    border-bottom: 1px solid rgba(245,245,245,1);
    background-color: rgba(245,245,245,1); 

}

.list table>thead>tr>th {
    padding: 25px 0px 25px 0px;
    font-weight: bold; 
}

.list table>tbody>tr { 
    border-bottom: 1px solid rgba(245,245,245,1);
  
}

.list table>tbody>tr:hover { 
	background-color: rgba(245,245,245,1); 
}

.list table>tbody>tr>td {
    padding: 20px 0px 20px 0px;
}

.board {
  width: 112px;
  height: 42px;
  background: rgba(239,239,239,1);
  color: rgba(70,84,163,1);
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border:none;
  padding: 10px 10px 10px 10px;
  
}

/********************리스트 페이징**********/
.paging {
	margin: 0px auto;
	width: 672px;
    height: 54px;
    position: absolute;
    top: 1530px;
    left: 400px;
    font-family: Noto Sans;
  	font-weight: bold;
  	font-size: 16px;
    
}

.paging ul>li{
	float: left;
	padding:15px 17px 15px 17px;
	border: 1px solid  rgba(239,239,239,1);
}

.paging ul>li.active{
	font-size: 16px;
	font-weight: bold;
}

